{% extends 'Accounts/base.html' %}
{% load static %}
{% block body %}
{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

<form class="form form-group" action="{% url 'register' %}" method="post" autocomplete="off">
  {% csrf_token %}
  <fieldset>Create Account Today</fieldset>
  <dl>
    <dt><label>First Name</label></dt>
    <dd><input type="text" name="first_name" class="form-control" required></dd>
  
    <dt><label>Last Name</label></dt>
    <dd><input type="text" name="last_name" class="form-control" required></dd>
  
    <dt><label>Username</label></dt>
  	<small id="message" ></small>
    <dd><input type="text" name="username" id="username"
    onkeyup="usernameCheck()" class="form-control" required></dd>
    <dt><label>Email Address</label></dt>
    <dd><input type="email" name="email" class="form-control" required></dd>
  
    <dt><label>Password</label></dt>
    <dd><input type="password" name="password" class="form-control" required></dd>
  </dl>
    <select name="sex" class="form-control" required>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    <button type="submit" class="btn form-control" id='submit'>Sign Up</button>
  
</form>
<script src="{% static 'Accounts/accounts.js' %}"></script>
{% endblock body %}